mixin mobile-menu(data)
	// start mobile-menu
	-
		var nav= {
			"Главная страница":"/",
			"Термодифицируем":"02-thermal.html",
			"Топливные гранулы ":"03-granules.html",
			"Сушим":"04-dry.html",
			"Строгаем":"05-whittle.html",
			"Фитосанитарная обрабока":"06-phytosanitary.html",
			"О нас":"07-about.html",
			"Контакты":"#contacts"
			}
	+b.UL.mobile-menu.menu-mobile--js(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
	// end mobile-menu